MainWindow {
    background-color: #f7f7f7;
}

QTreeView {
    border: none;
    color: #f47e46;
    background-color: #21231f;
    alternate-background-color: #242622;
}

QTreeView::branch {
    border: none;
}

QTreeView::item:selected,
QTreeView::branch:selected {
    color: #21231f;
    background-color: #aba39a;
    border: none;
}

QMenuBar,
QMenuBar::item {
    background-color: transparent;
    color: #303d41;
}

QMenuBar::item:selected {
    border-bottom: 1px solid #aba39a;
}

QMenuBar::item:pressed {
    border-bottom: 1px solid #f47e46;
}

QMenu {
    background-color: #f7f7f7;
    color: #303d41;
}

QMenu::item {
    background-color: #f7f7f7;
    color:#303d41;
}

QMenu::item:selected {
    background-color: #f47e46;
}

PlaybackControlButton {
    padding: 0;
}

QSlider::groove:horizontal {
    height: 4px;
    border-radius: 2px;
    background-color: #dddddd;
}

QSlider::handle:horizontal {
    height: 8px;
    width: 10px;
    margin: -4px 0;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    background-color: #f7f7f7;
}

QSlider::sub-page {
    background-color: #f47e46;
}

QScrollBar {
    width: 10px;
    height: 10px;
    padding: 1px;
    background-color: #f7f7f7;
}

QScrollBar::handle {
    min-width: 16px;
    min-height: 16px;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    background-color: #aba39a;
}

QScrollBar::handle:hover {
    background: #f47e46;
}

QScrollBar::add-line,
QScrollBar::sub-line,
QScrollBar::add-page,
QScrollBar::sub-page {
    width: 0px;
    background: transparent;
}

QLineEdit {
    background-color: #f7f7f7;
    color: #303d41;
}

QHeaderView {
    background-color: #f7f7f7;
    color: #303d41;
    border-radius: 0px;
}

QHeaderView::section {
    padding: 5px;
    border-right: 1px solid #C4C4C4;
}

MultilineTabWidget::pane {
    border-top: 1px solid #C4C4C4;
}

MultilineTabBar::tab {
    /* NOTE: Padding does not work correctly and is hardcoded in layout recalculation */
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #C4C4C4;
    background-color: #DCDCDC;
    color: #303d41;
}

MultilineTabBar::tab:selected {
    background-color: #ECECEC;
}

MultilineTabBar::tab:first {
    border-left: 1px solid #C4C4C4;
}

MultilineTabBar::tab:last {
    border-right: 1px solid #C4C4C4;
}

MultilineTabBar::tab:only-one {
    border: 1px;
    border-top: none;
    border-style: solid;
    border-color: #C4C4C4;
}

AlbumGallery {
    color: #f47e46;
    background-color: #21231f;
}
