QTreeView {
    color: #f47e46;
    background-color: #21231f;
    alternate-background-color: #242622;
}

QTreeView::item:selected,
QTreeView::branch:selected {
    color: #21231f;
    background-color: #aba39a;
    border: none;
}

QMenuBar, QMenuBar::item {
    background-color: transparent;
}

QMenuBar::item:selected {
    border-bottom: 1px solid #aba39a;
}

QMenuBar::item:pressed {
    border-bottom: 1px solid #f47e46;
}

QTreeView {
    border: none;
}

MultilineTabBar::tab {
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-color: #C4C4C4;
    border-style: solid;
}

MultilineTabBar::tab:first {
    border-left: 1px;
    border-color: #C4C4C4;
    border-style: solid;
}

MultilineTabBar::tab:last {
    border-right: 1px;
    border-color: #C4C4C4;
    border-style: solid;
}

MultilineTabBar::tab:only-one {
    border: 1px;
    border-color: #C4C4C4;
    border-style: solid;
}
