QTreeView {
    color: #f47e46;
    background-color: #21231f;
    alternate-background-color: #242622;
}

QTreeView::item:selected,
QTreeView::branch:selected {
    color: #21231f;
    background-color: #aba39a;
    border: none;
}

QMenuBar, QMenuBar::item {
    background-color: transparent;
}

QMenuBar::item:selected {
    border-bottom: 1px solid #aba39a;
}

QMenuBar::item:pressed {
    border-bottom: 1px solid #f47e46;
}

PlaybackControlButton {
    padding: 0;
}

QTreeView {
    border: none;
}

MultilineTabWidget::pane {
    border-top: 1px solid #C4C4C4;
}

MultilineTabBar::tab {
    /* NOTE: Padding does not work correctly and is hardcoded in layout recalculation */
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #C4C4C4;
    background-color: #DCDCDC;
}

MultilineTabBar::tab:selected {
    background-color: #ECECEC;
}

MultilineTabBar::tab:first {
    border-left: 1px solid #C4C4C4;
}

MultilineTabBar::tab:last {
    border-right: 1px solid #C4C4C4;
}

MultilineTabBar::tab:only-one {
    border: 1px;
    border-top: none;
    border-style: solid;
    border-color: #C4C4C4;
}

AlbumGallery {
    color: #f47e46;
    background-color: #21231f;
}
