QTreeView {
    color: #f47e46;
    background-color: #21231f;
    alternate-background-color: #242622;
}

QTreeView::item:selected,
QTreeView::branch:selected {
    color: #21231f;
    background-color: #aba39a;
    border: none;
}

QMenuBar, QMenuBar::item {
	background-color: transparent;
}

QMenuBar::item:selected {
	border-bottom: 1px solid #aba39a;
}

QMenuBar::item:pressed {
	border-bottom: 1px solid #f47e46;
}
